body{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
table {
    text-align: center;
    border: 1px solid black;
}
tr{
    text-align: center;
    border: 1px solid black;
}
th{
    text-align: center;
    border: 1px solid black;
}
td{
    text-align: center;
    border: 1px solid black;
}

td:hover{
    
}
caption{
    font-size: larger;
}
table {
    height: 400px;
    width: 600px;
    position: fixed;
    top: 30%;
    left: 43%;
    margin-top: -100px;
    margin-left: -200px;
} 